
body {
    margin: 0;
    background-color:pink;
    padding: 2rem,
   
}
        
        .col {
            background-color: #53c2dd;
            border: 1px solid #ccc;
            padding: 20px;
            width: 300px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            transition: transform 0.2s;
        }
        
        .card:hover {
            transform: scale(1.05);
        }



header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}


colgroup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: end;
    padding: 1em;
    position: bottom;
    bottom: 100px;
    width: 100%;
}
card-text {
font-size: medium;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: solid;
text-decoration-color: black;
text-align: center;

}
  
  